name: CD

on:
  workflow_dispatch:
  # push:
  #   branches: ["main"]
  #   tags:
  #     - v*

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Build the project
        run: uv build

      - name: Publish the project
        run: uv publish --username __token__ --password ${{ secrets.PYPI_API_TOKEN }}
